@model CGAP_SITE.Models.Sala
@{
    ViewData["Title"] = "Excluir Sala";
}

<h2>@ViewData["Title"]</h2>

<h3>Tem certeza que deseja excluir esta sala?</h3>
<div>
    <h4>@ViewData["Message"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt>
            @Html.DisplayName("Departamento")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento.Nome)
        </dd>
    </dl>

    <form asp-action="ConfirmDelete">
        <input type="hidden" asp-for="SalaID" />
        <div class="form-actions no-color col-md-offset-1">
            <button type="submit" value="Excluir" class="btn btn-default">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir
            </button>
        </div>
    </form>
</div>

<div>
    <br />
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    <a asp-action="Index">Voltar à Lista</a>
</div>